@CHARSET "ISO-8859-1";
.my {
     background-color: #000000;   
       font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; 
     font-weight: bold;  
     font-size: 18px;
     
     
 }

.player{
list-style-type:none;
margin-right: 30px; 
}
.second-button{
    float:right;
}
.center{
     margin: 0 auto;
}
footer {
  padding-top: 10px;
  
}
.headerr {
 margin-top: 200px;
  
}

footer p {
    margin: 0;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #000000;
}
html {
  position: relative;
  min-height: 100%;
}
.mainWindow {
  /* Margin bottom by footer height */
  margin-bottom: 30px;
  margin-top: 50px;
}
#footertext {
 margin: 0 auto;
   width: 90%;
}